<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app">
        <main>
            <!-- SIDE_BAR -->
            <aside class="side-bar">

                <!-- SIDE_BAR_HEADER-->
                <div class="side-bar-header">
                    <div class="user">
                        <img src="img/avatar_io.jpg" alt="img">
                        <span>Sofia</span>
                    </div>
                    <div class="icon">
                        <i class="fa-regular fa-circle"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </div>

                <!-- SIDE_BAR_NOTIFICATIONS -->
                <div class="side-bar-notifications">
                    <div class="bell">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="message">
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <span>Attiva notifiche desktop</span>
                    </div>
                </div>

                <!-- SIDE_BAR_NAV -->
                <div class="side-bar-nav">
                    <div class="contacts-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="cerca/inizia nuova chat" v-model="parola">
                    </div>
                </div>

                <!-- SIDE_BAR_CONTACTS-->
                <div class="side-bar-contacts" >
                    <div v-for="(element, index) in contacts" class="contact" @click="setActiveContact(index)" v-show="lowerCase(index)"> <!-- element.name.includes(parola)"-->
                        <div>
                            <img :src="element.avatar" alt="img">
                        </div>
                        <div class="container-info">
                            <span>{{element.name}}</span>
                            <span class="info">Ultimo messaggio inviato</span>
                        </div>
                        <span class="info end">12:00</span>
                    </div>
                </div>
            </aside>

            <!-- CENTER -->
            <section class="center">

                <!-- CENTER_HEADER-->
                <div class="center-header">
                    <div class="user">
                        <img :src="contacts[activeContact].avatar" alt="img">
                        <h4>{{contacts[activeContact].name}}
                            <span class="info">Ultimo accesso oggi alle 12:00</span>
                        </h4>
                        
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>


                <!-- CENTER_MESSAGES-->
                <div class="center-messages">
                    <div class="container-message" @click="menu = !menu">
                        <div class="center-message"@click="setActiveMessage(index)" :class="element.status" v-for="(element,index) in contacts[activeContact].messages">
                            <span class="message">{{element.message}}</span>
                            <div class="date">{{element.date}}</div>
                            <div class="drop-down" v-show="(index == activeMessage)? menu : ''">
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="container-menu">
                                    <div class="choice">Message info</div>
                                    <div class="choice delete" @click="removeMessage">Delete message</div>
                                </div>
                            </div>                             
                        </div>
                    </div>
                </div>
                

                <!-- CENTER_TYPETEXT-->
                <div class="center-typetext">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="message" @keyup.enter="newMessageSent">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </section>
        </main>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>